.tabs {
 border: 1px solid black;
 border-color: gray black black gray;
 margin: 2em 0;
 float: left;
 width: 10em;
}
.tabs ul { list-style: none; margin: 0; padding: 0 }
.tabs li { margin: 0; padding: 0.1em 0.5em }
.tabs li li { padding-left: 2em }
.tabs ul.active, .tabs li.active { background: #eee }
.tabs li li.active { font-weight: bold }
.tabs :link, .tabs :visited { border: none }

.tabcontents {
 padding: 0.4em 2em;
 margin-left: 10em;
 min-height: 300px;
}

form.addnew { float: right; margin-top: -2em; width: 30% }
form.mod { margin-top: 1em; }
table.listing { clear: none; width: 60% }
table.listing .sel, table.listing .default { text-align: center; width: 1% }
